---
layout: default
title: tags
---

<h2>Tags</h2>

{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

{% for tag in sortedtags %}
<h3 id="{{ tag }}"><span class="octicon octicon-tag" style="min-width:
        16px"></span>{{ tag }}</h3>
  <ul style="list-style-type: none">
  {% for post in site.tags[tag] %}
  <li><span class="octicon octicon-flame" style="min-width: 16px"></span><a href="/learn-python{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
{% endfor %}
