---
layout: default
---
<h2>{{ page.title }}</h2>

<table align="left" style="width: 0px; border: 0px;">
<tr>
{% for tag in page.tags %}
    <td style="height: 40px; width: 0px; white-space: nowrap; padding-left:
        0px; "><span class="octicon octicon-tag" style="min-width: 16px;"></span><a href="/learn-python/tags#{{ tag }}">{{ tag }}</a></td>
{% endfor %}
</tr>
</table>

<p> &nbsp; </p>

<div class="post">
{{ content }}
</div>

<p> &nbsp;  </p>
<p> &nbsp;  </p>

<a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.owner.twitter }}" data-size="large" data-hashtags="gotchacode">Tweet</a>

{% if site.disqus_shortname %}
{% include disqus_comments.html %}
{% endif %}
