---
layout: default
---
<h2>{{ page.title }}</h2>

<table>
<tr>
{% for tag in page.tags %}
    <td><span class="octicon octicon-tag" style="min-width: 16px;"></span><a ref="/learn-python/tags#{{ tag }}">{{ tag }}</a></td>
{% endfor %}
</tr>
</table>

<div class="post">
{{ content }}
</div>

<p> &nbsp;  </p>
<p> &nbsp;  </p>

<a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.owner.twitter }}" data-size="large" data-hashtags="gotchacode">Tweet</a>

{% if site.disqus_shortname %}
{% include disqus_comments.html %}
{% endif %}
